<h1><%= @content_block.title %></h1>
<p>Type: <%= @content_block.content_blockable_type %></p>
<% if @content_block.content_blockable_type == "Post" %>
  <p><%= @content_block.content_blockable.body %></p>
<% elsif @content_block.content_blockable_type == "Image" %>
  <img src="<%= @content_block.content_blockable.url %>">
<% elsif @content_block.content_blockable_type == "Video" %>
  <video src="<%= @content_block.content_blockable.url %>" controls></video>
<% end %>